body{
    background-color:#84E1AD;
}

header{
    background: linear-gradient(to bottom ,#2ebd6e, #1C653D);
    
    text-align: center;
    padding-bottom: 10px;
    padding-top: 2px;
    
    border-top-left-radius: 5px;
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    

}


nav{
    display: inline-flex;
  
    
}

a{
   
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    
}

a:hover{
  
    color: white;
}

main{
    background-color: white;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    
}

img{
    width: 550px;
}
main h1{
    color: #017a42;
    background-color: #C5EBD6;
    font-family: 'font';
    
}
h3{
    color: #017a42;
    background-color:#C5EBD6;
    font-family: 'font';
}
h2{
    color: #017a42;
    background-color:#C5EBD6;
    font-family: 'font';
}

div{
    background-color:#C5EBD6;
    
    
    
    
    
}
div p{
    padding: 8px;
}

div h3{
    background-color:#2FA866;
    text-align: center;
    color:white;
    border-top-right-radius:5px ;
    border-top-left-radius: 5px ;
    font-family: 'Times New Roman', Times, serif;
    
}
li{
    padding-left: 20px;
}

footer p{
    background-color:#1C653D;
    margin-left: -80px;
    margin-right: -80px;
    text-align: center;
    color: white;
    font-size: 13px;
    padding: 2px;
    
}

b{
    background-color: #2fa86536;
    color: #197241;
    font-style: oblique;
   
}

